<p id="notice"><%= notice %></p>

<h3><%= @puppy.name %></h3>

<p>
    <img src="<%= @puppy.image_url %>" alt="Puppy Picture">
</p>

<p>
  <strong>Name:</strong>
  <%= @puppy.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @puppy.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @puppy.breed %>
</p>

<p>
    <strong>Bio:</strong>
    <%= @puppy.bio %>
</p>



<%= link_to 'Edit Puppy Info', edit_puppy_path %> || <%= link_to 'Adopt Me', @puppy, method: :delete, data: {confirm: 'Are you sure you want to adopt ' + @puppy.name + '?'}, class: 'btn btn-success' %>